<h3 class="page-title">Accueil</h3>

<b>Dernières contributions à valider</b>

<br/>
<br/>


<div id="no-answer" *ngIf="lastContribs.length === 0">Veuillez saisir une réponse</div>
<table id="common-table" *ngIf="lastContribs.length !== 0">
  <thead>
    <th>Num</th>
    <th>Username</th>
    <th>Libellé</th>
    <th class="actions">Actions</th>
  </thead>
  <tr *ngFor="let contrib of lastContribs; let i = index" class="answer">
    <td>{{ i + 1 }}</td>
    <td>{{ contrib.title }}</td>
    <td>{{ contrib.title }}</td>
    <td class="actions">
      <button class="button-grey">Détails</button>

    </td>
  </tr>

</table>
