<h3 class="page-title">Ajouter une contribution</h3>

<b>Questions</b>

<br/>
<br/>

<div class="label-title">
  Énoncé de la question
</div>
<div>
  <textarea cols="120" rows="7" [(ngModel)]="question" class="code-input"></textarea>
</div>

<div class="label-title">
  Hastags
</div>
<div>
  <input size="100" [(ngModel)]="hashtags" class="code-input" />
</div>


<br/>
<br/>

<b>Réponses</b>

<br/>
<br/>

<div id="no-answer" *ngIf="answers.length === 0">Veuillez saisir une réponse</div>
<table id="common-table" *ngIf="answers.length !== 0">
  <thead>
    <th>Num</th>
    <th>Libellé</th>
    <th>Bonne réponse</th>
    <th class="actions">Actions</th>
  </thead>
  <tr *ngFor="let answer of answers; let i = index" class="answer">
    <td>{{ i + 1 }}</td>
    <td>{{ answer.title }}</td>
    <td>
      <input type="checkbox" value="1" (click)="changeIsCorrect(i)" />
    </td>
    <td class="actions">
      <button (click)="upAnswer(i)" class="button-grey">monter</button>

      <button (click)="downAnswer(i)" class="button-grey">descendre</button>

      <button (click)="deleteAnswer(i)" class="button-grey">supprimer</button>
    </td>
  </tr>

</table>




<div class="new-answer">
  <div><input type="text" size="50" [(ngModel)]="newAnswer" class="code-input" /></div>
  <div>
    <button (click)="addAnswer()" class="button-grey">Ajouter la réponse</button>
  </div>
</div>


<div class="btn-validate-quizz">
  <button (click)="validateQuizz()" class="button-grey">Contribuer</button>
</div>

