<h3 class="page-title">Ajouter une contribution</h3>

<b>Questions</b>

<br/>
<br/>

<div class="label-title">
  Énoncé de la question
</div>
<div>
  <textarea cols="120" rows="7" [(ngModel)]="question" class="code-input"></textarea>
</div>

<div class="label-title">
  Hastags
</div>
<div>
  <input size="100" [(ngModel)]="hashtags" class="code-input" />
</div>


<br/>
<br/>

<b>Réponses</b>

<br/>
<br/>

<div *ngFor="let answer of answers; let i = index" class="answer">
  <div>Réponse {{ i + 1 }} : {{ answer.title }}</div>
  <div>
    Bonne réponse : <input type="checkbox" value="1" (click)="changeIsCorrect(i)" />
    |
    <button (click)="upAnswer(i)" class="button-grey">monter</button>
    |
    <button (click)="downAnswer(i)" class="button-grey">descendre</button>
    |
    <button (click)="deleteAnswer(i)" class="button-grey">supprimer</button>
  </div>
</div>


<div class="new-answer">
  <div><input type="text" size="50" [(ngModel)]="newAnswer" class="code-input" /></div>
  <div>
    <button (click)="addAnswer()" class="button-grey">Ajouter la réponse</button>
  </div>
</div>


<div class="btn-validate-quizz">
  <button (click)="validateQuizz()" class="button-grey">Valider le quizz</button>
</div>

