<h3>Ajouter une contribution</h3>

<h4>Questions</h4>

<div class="type-choices">
  <div>Choix unique <input type="radio" [value]="'1'" [(ngModel)]="typeChoice" /></div>
  <div>Choix multiples <input type="radio" [value]="'2'" [(ngModel)]="typeChoice" /></div>
</div>
<div>
  Question
</div>
<div>
  <textarea cols="120" rows="7" [(ngModel)]="question"></textarea>
</div>

<div>
  Hastags
</div>
<div>
  <input size="100" [(ngModel)]="hashtags" />
</div>

<h4>Réponses</h4>


<div *ngFor="let answer of answers; let i = index" class="answer">
  <div>Réponse {{ i + 1 }} : {{ answer.title }}</div>
  <div>
    Bonne réponse : <input type="checkbox" value="1" (click)="changeIsCorrect(i)" />
    |
    <button (click)="upAnswer(i)">monter</button>
    |
    <button (click)="downAnswer(i)">descendre</button>
    |
    <button (click)="deleteAnswer(i)">supprimer</button>
  </div>
</div>


<div class="new-answer">
  <div><input type="text" size="50" [(ngModel)]="newAnswer" /></div>
  <div>
    <button (click)="addAnswer()">Ajouter la réponse</button>
  </div>
</div>


<div class="btn-validate-quizz">
  <button (click)="validateQuizz()">Valider le quizz</button>
</div>

