
<nav id="topnav">

  <h2>Bienvenue XXX</h2>
  <a
          [title]="'all-contributes'"
          [routerLink]="['/all-contributes']"
  >
    Préférences
  </a>


</nav>

<div id="menu" role="main">

  <a
          [title]="'home'"
          [routerLink]="['/home']"
  >
    Accueil
  </a>
  &nbsp;|&nbsp;
  <a
    [title]="'contribute'"
    [routerLink]="['/contribute']"
  >
    Contribuer
  </a>
  &nbsp;|&nbsp;
  <a
          [title]="'my-contributes'"
          [routerLink]="['/my-contributes']"
  >
    Mes contributions
  </a>
  &nbsp;|&nbsp;
  <a
    [title]="'all-contributes'"
    [routerLink]="['/all-contributes']"
  >
    Toutes les contributions
  </a>
  &nbsp;|&nbsp;
  <a
    [title]="'courses'"
    [routerLink]="['/courses']"
  >
    Parcours
  </a>


</div>

<router-outlet></router-outlet>
