
<nav id="topnav">

  <h2>Bienvenue XXX</h2>
  <a
          [title]="'all-contributes'"
          [routerLink]="['/all-contributes']"
  >
    Préférences
  </a>


</nav>

<div id="menu" role="main">

  <a
    [title]="'all-contributes'"
    [routerLink]="['/all-contributes']"
  >
    Débuter un parcours
  </a>
  &nbsp;|&nbsp;
  <a
    [title]="'contribute'"
    [routerLink]="['/contribute']"
  >
    Contribuer
  </a>
  &nbsp;|&nbsp;
  <a
          [title]="'my-contributes'"
          [routerLink]="['/my-contributes']"
  >
    Mes questions
  </a>


</div>

<router-outlet></router-outlet>
