<div class="content" role="main">

  <a
    [title]="'all-contributes'"
    [routerLink]="['/all-contributes']"
  >
    all-contributes
  </a>
  &nbsp;|&nbsp;
  <a
    [title]="'my-contributes'"
    [routerLink]="['/my-contributes']"
  >
    my-contributes
  </a>
  &nbsp;|&nbsp;
  <a
    [title]="'contribute'"
    [routerLink]="['/contribute']"
  >
    contribute
  </a>
  &nbsp;|&nbsp;
  <a
    [title]="'account'"
    [routerLink]="['/account']"
  >
    account
  </a>
  &nbsp;|&nbsp;
  <a
    [title]="'account-edit'"
    [routerLink]="['/account-edit']"
  >
    account-edit
  </a>

</div>

<router-outlet></router-outlet>
